* {
  box-sizing: border-box;
}

body {
  background-color: #F7C8E0;
  background-image: linear-gradient(to right, #F7C8E0 , #ed85ba);
  font-family: 'Kalam', cursive;
  margin: 0;
}

header {
  background-color:#DFFFD8;
  height:90px;
  width:100%;
  margin: 0;
}

#MynthLogo {
  float: left;
  width: 300px;
  height: 85px;
}

h1 {
  margin: 10px;
  font-size: 25px;
}

nav {
  background-color:black;
  text-align: center;
  height: 50px;
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  background-color: black;
  height: 100%;
}

li {
  float: left;
}

li a, li span {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
}

section {  
  background-color: #f6e1f7;
  background-image: linear-gradient(to right, #f6e1f7 , #caffbf);
  border: 2px solid black;
  border-radius: 8px;
  margin: 10px;
}

.box {
  font-size: 20 px;
  text-align: center;
  direction: rtl;
  height: auto;
  width: 55%;
  background-color: #c7e9fc;
  border: 2px solid #accbfc;
  margin: 0 2%;
  padding: 10px;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.middle-section{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about {
  text-align: center;
  font-size: 15px;
  padding: 20px;
}

p{
  border: 1px;
  padding: 10px;
  margin: 5px;
}

a:link{
  color: #FFFFFF;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #DFFFD8;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #B4E4FF;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #F7C8E0;
  background-color: transparent;
  text-decoration: underline;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
}


/* 
  js saving this here (color pallette)
  F7C8E0
  DFFFD8
  B4E4FF
  95BDFF
*/