html {
  height: 100%;
  width: 100%;
}
body {
  background-image: url(images/background.png) ;
  background-size: cover;
}

img {
  margin-top: -50px;
  z-index: -1;}

 #title {
  float: left;
}

#bar {
  text-align: right;
  padding-right: 3%;
  padding-top: 1%;
}

.label {
  width:25%;
  float:left;
  justify-content: space-between;
}

h1{
  margin-top:125px;
  text-align: center;
  font-size: 50px;
  font-family: "Brush Script MT", cursive;
  font-style: italic;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
  margin-left: 5%;
  margin-right: 0%;
  margin-top: 150px;
}

/* Next & previous buttons */
.prev, .next {
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Container for image text */
.caption-container-royal {
  text-align: center;
  background-color:#f53d7a;
  color: beige; 
  font-size: 25px;
}
.caption-container-rebel {
  text-align: center;
  background-color:#6c1c8a;
  color: beige;
  font-size: 25px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* Six columns side by side */
.column {
  float: left;
  width: 20%;
  margin-top:50px;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active, .demo:hover {
  opacity: 1;
}

/* Dropdown Button */
.dropbtn {
  background-color: #341745;
  color: white;
  padding: 16px;
  font-family: "Times New Roman";
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: lightgrey;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #341745;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color:#58366e;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #1e0c29;}

/*Navigation Bar CSS*/
nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #341745;
    z-index: 1;
}

nav a ,p {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #1e0c29;
    color: #ddd;
}

nav a:active {
    background-color: #ddd;
    color: royalblue;
}
footer {
  /*to position the copyright*/
  position: fixed;
  bottom: 0;
  right: 0;
  /**/
}
div.scroll-container {
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}
figure{
  text-align: center;
}
figcaption {
  text-align: center;
  font-style: italic;
  font-size: 15px;
  background-color: #ffadda;
  overflow: auto;
}
