html {
  height: 100%;
  width: 100%;
  font-family: 'Rubik', sans-serif; /* font for the entire webpage */
}
/* nav bar border style */
nav {
  border-bottom: 1px solid black;
}

/* nav bar text style */
nav a {
  font-size: 25px;
  box-sizing: border-box;
  color: black;
  text-decoration: none;
}

/* nav bar hover style */
nav a:hover {
  background-color: whitesmoke
}

/* nav bar home button logo style */
#logo{
  height: 25px;
  position: relative;
  top: 20px;
}

/* nav bar home button "text" style */
#title{
  height: 25px;
  position: relative;
  top: 20px;
}

/* nav bar cognitive function button style */
#cogfunc {
  position: relative;
  top: -15px;
  left: 920px;
}

/* nav bar compatibility button style */
#comp {
  position: relative;
  top: -15px;
  left: 940px;
}

/* style for the input MBTI button */
#placeMBTIs {
  box-sizing: border-box;
  border: 2px solid #80ccf4;
  background-color: #9adcff;
  padding: 10px;
  color: black;
  font-size: 20px;
  position: fixed;
  right: 10px;
  bottom: 8px;
}

/* hover style for input MBTI button */
#placeMBTIs:hover {
  background-color: #95d3f4;
}

/* style for pop up box (not shown by default) */
.listbox {
  width: 300px;
  max-width: 300px;
  height: 350px;
  max-height: 350px;
  padding: 10px;
  display: none;
  border: 3px solid #e1dfdf;
  background-color: #f5f5f5;
  position: fixed;
  bottom: 8px;
  right: 6px;
  z-index: 7;
}

/* pop up box buttons style */
.listbox .btn {
  font-size: 15px;
  padding: 5px;
  border: 2px groove whitesmoke;
}

/* pop up box header style */
#popupheader {
  background-color: #9adcff;
  font-size: 25px;
  text-align: center;
  width: 285px;
  padding: 5px;
  position: fixed;
  bottom: 330px;
  right: 21px;
}

/* enter button style */
#enterBtn {
  background-color: #7ed7c1;
  position: fixed;
  bottom: 14px;
  right: 273px;
  font-family: 'Rubik', sans-serif;
}

#enterBtn:active {background-color: #66b29f;}

/* close button style */
#closeBtn {
  background-color: #baadff;
  position: fixed;
  bottom: 14px;
  right: 14px;
  font-family: 'Rubik', sans-serif;;
}

#closeBtn {background-color: #968ad0;}

/* style for instructions and input */
#instruct {
  background-color: #ffe185;
  padding: 3px;
  font-size: 14px;
  position: fixed;
  bottom: 4em;
  right: 2em;
  text-align: left;
}

/* style for listed names, MBTIs, and Cognitive Functions */
.listcontent {
  font-size: 14px;
}

.listinfo {
  font-size: 12px;
}

button {
  border: none;
  cursor: pointer;
  color: white;
  background: none;
  transition: all .3s ease-in-out;
}

.container {
  width: 150%;
  height: 1500vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.carousel-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  transition: all 0.25s ease-in;
}

.carousel-view .item-list {
  max-width: 1000px;
  width: 70vw;
  padding: 50px 10px;
  display: flex;
  gap: 50px;
  scroll-behavior: smooth;
  transition: all 0.25s ease-in;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: auto;
  scroll-snap-type: x mandatory;
}

.item-list::-webkit-scrollbar {
  display: none;
}

.prev-btn {
  background: none;
  cursor: pointer;
}
.next-btn {
  cursor: pointer;
}

.item {
  scroll-snap-align: center;
  min-width: 350px;
  height: 400px;
}

.item:hover {
  transform: scale(1.2);
}

/* div containing info does not display on default */
.infoMBTI {
  display: none;
  height: 450px;
}

#MBTInfo {
  max-width: 100%;
}

/* style and positioning for visuals */
#MBTImg {
  display: none;
  position: relative;
  left: 70px;
  top: 60px;
}

/* style and positioning for the actual info */
#MBTIdesc1 {
  display: none;
  position: relative;
  font-size: 25px;
  left: 450px;
  bottom: 300px;
  text-align: justify;
  max-width: 825px;
}

#MBTIdesc2 {
  display: none;
  position: relative;
  font-size: 20px;
  left: 450px;
  bottom: 200px;
  text-align: justify;
  max-width: 825px;
}

#logInfo {
  position: relative;
  top: 4em;
}