html {
  height: 100%;
  width: 100%;
  background-image: url('../images/Background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* do not forget to include comments */
/*We won't po :D*/

body{
  font-family: monospace; /*Font change lang haha*/
}

h1 {
  border-width: 5px;
  border-style: solid;
  border-color: black;
  background-color: mintcream;
  padding: 20px;
}

/*for the "Whiz Bang Science Games!" header*/

h4 {
  color:white;
}

nav {
  position: static;
  top: auto;
  left: auto;
  width: 100%;
}

nav a {
  color: white;
  display: inline-block;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

div.games a{
  color: red;
  font-size: 48px;
  font-weight: bold;
  text-decoration: none;
}

div.games {
  width: 55%;
  height: auto;
  margin: 10px;
  font-size: 24px;
  background-color: lightyellow;
  font-style: italic;
  text-align: center;
  border: 5px solid black;
  resize: none;
}

div.projectile {
  margin: auto;
}

/*the code above is for the fixation of the three tiles ^^*/
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  font-style: italic;
  font-weight: 600;
  padding: 10px 0;
}
}
/* do not forget to include comments */
/*We won't po :D*/

body{
  font-family: monospace; /*Font change*/
}

h1 {
  border-width: 5px;
  border-style: solid;
  border-color: black;
  background-color: mintcream;
  padding: 20px;
}

h4 {
  color:white;
}

p a {
  color: red;
  font-size: large;
  font-weight: bold;
  text-decoration: none;
}

p {
  width: 300px;
  background-color: lightyellow;
  font-style: italic;
  border: 2px solid black;
  padding: 30 px;
}


footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  font-style: italic;
  font-weight: 600;
  padding: 10px 0;
}