* {
  font-family: 'Neue Montreal', sans-serif;
}

body {
  background-color: #1E1F22;
  color: white;
}

header, footer {
  position: fixed;
  background-color: #383c48;
  padding: 10px;
  padding-left: 15px;
  color: white;
  width: 100%;
  left: 0;
}

header {
  top: 0;
  font-size: 30px;
}

footer {
  bottom: 0;
  font-size: 25px;
}

header span {
  cursor: pointer;
}

#navlogo {
  filter: invert(100%);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  white-space: nowrap;
}

.sidenav a:hover {
  color: #f1f1f1;
}

#closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

section {
  margin-left: 20px;
  line-height: 12px;
}

#content {
  top: 40%;
}

#color {
  font-size: 30px;
}

#option1, #option2, #option3, #option4 {
  width: 400px;
  height: 50px;
  background-color: #383c48;
  display: inline-block;
  border: 5px solid #383c48;
  line-height: 50px;
  font-size: 20px;
}

#option1, #option2 {
  top: 60%;
  left: 20%;
}

#color {
  background-color: #383c48;
  width: 250px;
  height: 50px;
}

#rgb {
  line-height: 50px;
}

span:hover {
  cursor: pointer;
}

#scores {
  font-size: 25px;
}
