@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Raleway:ital@0;1&display=swap');

html {
  width: 100%;
  height: 100vh; 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #171717;
  background-image: url(/images_website/franceshabg.jpg);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
}

/****** Menu Bar ******/
body {
  justify-content: center; 
  font-family: sans-serif;
  color: white;
  padding-left: 5%;
  box-sizing: border-box;
  }

  .navbar{
    width: 85%;
    padding: 35px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    width: 70px; 
    height: 70px;
    object-fit: cover; 
    cursor: pointer;
    transition: 0.2s;
  }

  .logo:hover {
    opacity: 0.5;  
  }

  .navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
    position: relative
  }

  /*Font Layout for Menu Bar*/
  .navbar ul li a{
    font-size: 2.5vh; 
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }

  /*Underline for Menu Bar + Hover Effect*/
  .navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #dd2c47;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
  }

  .navbar ul li:hover:after{
    width: 100%;
  }

/**** Movie Poster ****/ 

.imgPoster {
  width: 15%;
  height: 50%;
  position: fixed; 
  top: 30%;
  left: 6%;
  border-radius: 10px;
}

.desc {
  margin-left: 20%;
  margin-right: 30%;
}

.desc h1 {
  font-family: 'DM Serif Display';
  font-size: 60px;
}

.desc p, h4 {
  font-family: 'Raleway';
  letter-spacing: 1px;
}
